.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    z-index: 1;
    background-color: white;
    border-radius: 5px;
}
.product__rating{
    display: flex;
}
.product__rating > p{
    font-size: 3rem;
}
.productImgAndBtn >img{
    width: 100%;
    max-height: 250px;
    max-width: 400px;
    object-fit: contain;
    margin-bottom: 10px;
}
.productImgAndBtn{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.productImgAndBtn >button{
    padding: 5px;
    border-radius: 5px;
    background-color: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;
    cursor: pointer;
}
.productImgAndBtn > button:hover{
    background-color: #f0c14bd3;
}